[Desktop Entry]
Name=Yet Another Window Control
Name[x-test]=xxYet Another Window Controlxx
Name[zh_CN]=另一个窗口控制
Comment=Controls for the active window
Comment[x-test]=xxControls for the active windowxx
Comment[zh_CN]=控制活动窗口
Icon=preferences-system-windows
Type=Service
 
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_yawc
X-KDE-PluginInfo-Author=CSSlayer
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=yawc
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://csslayer.tk
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true